@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'SofiaPro';
  src: url("../fonts/SofiaProLight.eot");
  src: local("☺"), url("../fonts/SofiaProLight.woff") format("woff"), url("../fonts/SofiaProLight.ttf") format("truetype"), url("../fonts/SofiaProLight.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro';
  src: url("../fonts/SofiaProRegular.eot");
  src: local("☺"), url("../fonts/SofiaProRegular.woff") format("woff"), url("../fonts/SofiaProRegular.ttf") format("truetype"), url("../fonts/SofiaProRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro';
  src: url("../fonts/SofiaProMedium.eot");
  src: local("☺"), url("../fonts/SofiaProMedium.woff") format("woff"), url("../fonts/SofiaProMedium.ttf") format("truetype"), url("../fonts/SofiaProMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro';
  src: url("../fonts/SofiaProBold.eot");
  src: local("☺"), url("../fonts/SofiaProBold.woff") format("woff"), url("../fonts/SofiaProBold.ttf") format("truetype"), url("../fonts/SofiaProBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro';
  src: url("../fonts/SofiaProBlack.eot");
  src: local("☺"), url("../fonts/SofiaProBlack.woff") format("woff"), url("../fonts/SofiaProBlack.ttf") format("truetype"), url("../fonts/SofiaProBlack.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SofiaPro";
  font-weight: 300;
  color: #fff;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: -webkit-gradient(linear, left top, left bottom, from(#03024e), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), to(#03024e)), #000;
  background: linear-gradient(#03024e 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 70%, #03024e 100%), #000;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.ibg > img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.btn {
  display: block;
  font-weight: 300;
  padding: 0.4em 2.44em;
  border-radius: 17px;
  cursor: pointer;
  border: none;
  position: relative;
  background: transparent;
  overflow: hidden;
}

.btn span {
  display: block;
  position: relative;
  z-index: 2;
  line-height: inherit;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 280%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-1:after {
  background: -webkit-gradient(linear, left top, left bottom, from(#0D0840), color-stop(40%, #163CD8), color-stop(60%, #3D3A67), to(#4563E0));
  background: linear-gradient(180deg, #0D0840 0%, #163CD8 40%, #3D3A67 60%, #4563E0 100%);
}

.btn:hover:after {
  top: -180%;
}

.btn-2:after {
  background: -webkit-gradient(linear, left top, left bottom, from(#0D0840), color-stop(40%, #163CD8), color-stop(60%, #90D9B9), to(#5D79E3));
  background: linear-gradient(180deg, #0D0840 0%, #163CD8 40%, #90D9B9 60%, #5D79E3 100%);
}

.btn-link {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  padding: 0.6em 2.05em;
  color: #fff;
  text-decoration: none;
  position: relative;
  border-radius: 22px;
  overflow: hidden;
  border: 2px solid transparent;
  vertical-align: middle;
}

.btn-link span {
  position: relative;
  z-index: 3;
  display: block;
  line-height: inherit;
}

.btn-link:before {
  content: "";
  display: block;
  background: #000;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  z-index: 2;
  border-radius: 22px;
}

.btn-link:after {
  content: "";
  display: block;
  width: 61%;
  height: 2px;
  background: #762428;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: height 0.4s ease, width 0.4s ease 0.15s;
  transition: height 0.4s ease, width 0.4s ease 0.15s;
}

.btn-link:hover:after {
  height: 100%;
  width: 100%;
  -webkit-transition: height 0.4s ease 0.15s, width 0.4s ease;
  transition: height 0.4s ease 0.15s, width 0.4s ease;
}

.title2 {
  font-size: 42px;
  color: #3388fd;
  line-height: 1.4;
  background: -webkit-gradient(linear, left top, right top, from(#3388FD), to(#7CA9FB));
  background: linear-gradient(90deg, #3388FD 0%, #7CA9FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-size: 36px;
  color: #fff;
  line-height: 1.4;
  font-weight: 400;
}

.red-text {
  background: -webkit-gradient(linear, left top, right top, from(#FF3D6A), to(#FA6128));
  background: linear-gradient(90deg, #FF3D6A 0%, #FA6128 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  color: #ff3d6a;
  line-height: 1;
  font-weight: 400;
}

.blue-text {
  background: -webkit-gradient(linear, left top, right top, from(#1175FF), to(#95BAFF));
  background: linear-gradient(90deg, #1175FF 0%, #95BAFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  color: #1175FF;
  line-height: 1.3;
  font-weight: 400;
}

.eclipse {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.projectsPage__container {
  max-width: 950px;
  padding: 0 15px;
  margin: 0 auto;
}

.pop-pup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pop-pup__button {
  text-align: right;
  padding: 10px 20px 0px 0px;
}

.pop-pup-close {
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.pop-pup-close img {
  width: 100%;
  height: 100%;
}

.pop-pup.show {
  opacity: 1;
  visibility: visible;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.video video {
  width: auto;
  max-width: 100%;
  max-height: 80%;
}

.header {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
}

.header:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, black 30%, rgba(0, 0, 0, 0) 100%);
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.header__logo a:hover img {
  -webkit-filter: drop-shadow(5px 0 15px rgba(255, 255, 255, 0.8));
          filter: drop-shadow(5px 0 15px rgba(255, 255, 255, 0.8));
}

.header__logo img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: -100vh;
  left: 0;
  background: #000;
  padding: 80px 20px 22px 20px;
  overflow-y: auto;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header__nav.open {
  top: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 41px 15px;
  margin: 0px 0px 22px 0px;
}

.header__list li:not(:last-child) {
  margin-bottom: 30px;
}

.header__link {
  display: block;
  font-size: 36px;
  color: #fff;
  line-height: 1;
  font-weight: 700;
}

.header__social a {
  display: inline-block;
  width: 23px;
  height: 22px;
  margin: 0px 10px 0px 0px;
}

.header__burger {
  width: 30px;
  height: 35px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.header__burgerIcon {
  height: 4px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header__burgerIcon:before, .header__burgerIcon:after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header__burgerIcon:before {
  top: -11px;
  left: 3px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header__burgerIcon:after {
  bottom: -11px;
  right: 3px;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header__burgerIcon.open {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.header__burgerIcon.open:before {
  left: 0;
  top: 0;
  -webkit-transform: translateX(100%) rotate(-90deg);
          transform: translateX(100%) rotate(-90deg);
}

.header__burgerIcon.open:after {
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%) rotate(-90deg);
          transform: translateX(-100%) rotate(-90deg);
}

.greeting {
  width: 100%;
  height: 100vh;
  position: relative;
}

.greeting__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  mix-blend-mode: multiply;
}

.greeting__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.greeting__img {
  margin: 0px 0px 20vh 0px;
  width: 18.4%;
}

.greeting__img img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px 0px 13px 0px;
}

.greeting__button {
  font-size: 18px;
  color: #fff;
  line-height: 1;
}

.greeting__arrow {
  display: none;
  position: absolute;
  bottom: 14px;
  left: 50%;
  z-index: 3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.greeting__arrow:hover {
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.greeting__text {
  max-width: 950px;
  padding: 0 15px;
  margin: 0 auto;
}

.greeting__text-top {
  display: block;
  padding-top: 153px;
}

.motion {
  padding: 94px 0px 0px 0px;
  position: relative;
}

.motion__bg {
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -1;
}

.motion__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.motion__top {
  margin: 0px 0px 77px 0px;
}

.motion__title {
  background: -webkit-gradient(linear, left top, right top, from(#3388FD), to(#7CA9FB));
  background: linear-gradient(90deg, #3388FD 0%, #7CA9FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  color: #fff;
  line-height: 40px;
  font-weight: 700;
}

.motion__subtitle {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.2;
}

.motion__slider-body {
  position: relative;
  margin: 0px 0px 57px 0px;
  padding: 0 70px;
}

.motion__slider {
  max-width: 970px;
}

.motion__slider-wrapper {
  height: 220px;
  padding-top: 20px;
}

.motion__slider-content {
  height: 167px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.motion__slider-content-item {
  height: 163px;
  width: 99%;
  border-radius: 27px;
  position: relative;
  background-color: #000;
}

.motion__slider-content-item:before {
  content: "";
  border-radius: 27px;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(#7CA9FB), to(#3388FD));
  background: linear-gradient(180deg, #7CA9FB 0%, #3388FD 100%);
}

.motion__slider-content-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.motion__text {
  font-size: 28px;
  color: #fff;
  line-height: 1.2;
  max-width: 827px;
  margin: 0 auto;
}

.motion__text-red {
  background: -webkit-gradient(linear, left top, right top, from(#F43A65), to(#FA6228));
  background: linear-gradient(90deg, #F43A65 0%, #FA6228 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F43A65;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.swiper-button-next {
  right: -10px;
}

.swiper-button-prev {
  left: -10px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 0;
  width: 15px;
  height: 38px;
}

.swiper-button-next:after {
  background: url("../images/greeting/Right.svg") no-repeat;
  background-size: cover;
}

.swiper-button-prev:after {
  background: url("../images/greeting/Left.svg") no-repeat;
  background-size: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: -18px;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: #fff;
  margin: 0 6.5px;
}

.projects {
  padding-top: 49px;
}

.projects__title {
  margin: 0px 0px 54px 0px;
}

.projects__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (400px)[2];
      grid-template-rows: repeat(2, 400px);
  grid-auto-rows: 400px;
  gap: 37px;
}

.projects__item {
  position: relative;
  z-index: 2;
  border-radius: 35px;
}

.projects__item:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  z-index: -1;
  border-radius: 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(124, 169, 251, 0)), to(#3388FD));
  background: linear-gradient(180deg, rgba(124, 169, 251, 0) 0%, #3388FD 100%);
}

.projects__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 35px;
}

.projects__item:nth-child(3), .projects__item:nth-child(4), .projects__item:nth-child(5) {
  display: none;
}

.projects__cat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 48px 0px;
  position: relative;
  border: 2px solid #BE3B46;
  border-radius: 30px;
  height: 61px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects__cat.active {
  height: 185px;
}

.projects__cat-arrow {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 29px;
  height: 20px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__cat-arrow img {
  width: 19px;
  height: 10px;
}

.projects__cat li {
  border-bottom: 1px solid #be3b46;
}

.projects__cat-button {
  background: transparent;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  color: #fff;
  line-height: 60px;
}

.projects-page .projects__item {
  display: block;
}

.projects__info {
  border-radius: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 24px;
  color: #fff;
  line-height: 1;
}

.projects__button {
  margin: 21px auto 0px auto;
  text-align: center;
}

.team {
  background: url("../images/team/1.svg") -50px 100%/138px 221px no-repeat, url("../images/team/2.svg") 86px 400px no-repeat, url("../images/team/3.svg") 10% 170px no-repeat, url("../images/team/4.svg") center right no-repeat;
  padding-top: 96px;
}

.team__title {
  margin: 0px 0px 43px 0px;
}

.team__slider {
  position: relative;
}

.team__slider-container {
  max-width: 920px;
  padding: 0 30px;
}

.team__slider-wrapper {
  padding: 50px 0;
}

.aboutPage-team {
  background: none;
}

.teamate {
  min-height: 265px;
  padding: 54px 30px;
  text-align: center;
  border-radius: 35px;
}

.teamate__photo {
  width: 146px;
  height: 147px;
  border: 2px solid #fff;
  margin: -100px auto 21px auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: grey;
}

.teamate__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teamate__name {
  font-size: 36px;
  color: #fff;
  line-height: 1;
  margin: 0px 0px 10px 0px;
  font-weight: 500;
}

.teamate__prof {
  font-size: 18px;
  color: #fff;
  line-height: 1;
}

.brown-yellow {
  background: -webkit-gradient(linear, left top, left bottom, from(#A05322), to(#EAC54B));
  background: linear-gradient(180deg, #A05322 0%, #EAC54B 100%);
}

.red-orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#FE3777), to(#FD6021));
  background: linear-gradient(180deg, #FE3777 0%, #FD6021 100%);
}

.blue-violet {
  background: -webkit-gradient(linear, left top, left bottom, from(#091E8E), to(#A769B9));
  background: linear-gradient(180deg, #091E8E 0%, #A769B9 100%);
}

.darkBlue-lighterBlue {
  background: -webkit-gradient(linear, left top, left bottom, from(#2B2183), to(#2C6CF6));
  background: linear-gradient(180deg, #2B2183 0%, #2C6CF6 100%);
}

.blue-lightBlue {
  background: -webkit-gradient(linear, left top, left bottom, from(#0A25AB), to(#53BBF1));
  background: linear-gradient(180deg, #0A25AB 0%, #53BBF1 100%);
}

.lightBlue-lighterBlue {
  background: -webkit-gradient(linear, left top, left bottom, from(#3784FF), to(#7BA8FE));
  background: linear-gradient(180deg, #3784FF 0%, #7BA8FE 100%);
}

.blue-lightGreen {
  background: -webkit-gradient(linear, left top, left bottom, from(#163CD8), to(#64CF98));
  background: linear-gradient(180deg, #163CD8 0%, #64CF98 100%);
}

.clients {
  position: relative;
  z-index: 2;
  padding-top: 94px;
}

.clients__title {
  margin: 0px 0px 47px 0px;
}

.clients__slider {
  position: relative;
  max-width: 966px;
  margin: 0 auto;
}

.clients__slider-container {
  max-width: 890px;
  padding: 0 30px;
}

.clients__slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__text {
  margin: 0px 0px 139px 0px;
}

.works__slider {
  position: relative;
  padding: 0 30px;
}

.works__slider-contaier {
  padding: 0px 0px 30px 0px;
}

.works__slider-slide {
  padding: 5px 0;
}

.works .swiper-pagination {
  display: block;
}

.slide__item {
  padding: 25px 12px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  max-width: 393px;
  margin: 0 auto;
}

.slide__item:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
}

.slide__content {
  position: relative;
  z-index: 2;
}

.slide__title {
  font-size: 26px;
  color: #fff;
  line-height: 1.2;
  margin: 0px 0px 22px 0px;
}

.slide__text {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
}

.comments {
  padding: 54px 0 0 0;
}

.comments__title {
  margin: 0px 0px 53px 0px;
}

.comments__slider {
  position: relative;
  padding: 0 30px;
}

.comments__slider-container {
  padding: 0px 0px 30px 0px;
}

.comments__item {
  margin: 0 auto;
  max-width: 392px;
}

.comments__item-avatar {
  position: relative;
  height: 0;
  padding-bottom: 60%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.comments__item-avatar img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comments__item-about {
  background-color: #fff;
  color: #242424;
  padding: 23px 15px;
  text-align: left;
  border-radius: 0 0 10px 10px;
}

.comments__slider-button-next span {
  display: none;
}

.about-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 21px 0px;
}

.about-item__name {
  font-size: 18px;
  color: inherit;
  line-height: 1.5;
  font-weight: 400;
}

.about-item__prof {
  font-size: 12px;
  color: rgba(36, 36, 36, 0.7);
  line-height: 1.2;
}

.about-item__comment {
  font-size: 15px;
  color: inherit;
  line-height: 1.2;
}

.footer {
  position: relative;
  padding: 250px 0 100px 0;
  margin-top: -160px;
}

.footer__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__bg img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__body {
  position: relative;
  z-index: 2;
}

.footer__logo {
  margin: 0px 0px 27px 0px;
}

.footer__nav {
  max-width: 380px;
  margin: 0 auto;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 27px 0px;
}

.footer__nav-list li a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer__nav-list li a:hover {
  color: #80A1EC;
}

.footer__social {
  margin: 0px 0px 18px 0px;
}

.footer__social a {
  margin: 0 9px;
}

.footer__social a:hover path {
  fill: #A8BCEA;
}

.footer__social path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #80A1EC;
}

.footer__copyright {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1;
}

@media (min-width: 480px) {
  .header__nav {
    padding: 80px 40px 22px 40px;
    background: url("../images/header/bg-mob.jpg") center no-repeat;
    background-size: cover;
  }
  .header__list {
    padding: 41px 51px;
  }
  .teamate__photo {
    width: 176px;
    height: 177px;
  }
  .slide__item {
    padding: 55px 22px;
  }
  .slide__title {
    font-size: 36px;
  }
  .comments__item-about {
    padding: 23px 29px;
  }
}

@media (min-width: 768px) {
  .projects {
    padding-top: 70px;
  }
  .projects__title {
    margin: 0px 0px 70px 0px;
  }
  .projects__body {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (190px)[3];
        grid-template-rows: repeat(3, 190px);
    gap: 45px;
  }
  .projects__item:before {
    content: "";
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .projects__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .projects__item:nth-child(2) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
  }
  .projects__item:nth-child(3), .projects__item:nth-child(4), .projects__item:nth-child(5) {
    display: block;
  }
  .projects__item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .projects__item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .projects__item:nth-child(5) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / 6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .projects__item:hover:before, .projects__item:hover .projects__info {
    opacity: 1;
    visibility: visible;
  }
  .projects__item.disabled {
    pointer-events: none;
  }
  .projects__item.disabled:hover:before, .projects__item.disabled:hover .projects__info {
    opacity: 0;
    visibility: hidden;
  }
  .projects__info {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .projects__button {
    margin: 40px 0px 0px 0px;
    text-align: right;
  }
  .projects__cat {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    border-radius: 0;
    height: auto;
    overflow: auto;
  }
  .projects__cat-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 255px;
            flex: 0 1 255px;
    max-width: 255px;
    border-radius: 24px;
    border: 1px solid #be3b46;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
  }
  .projects__cat-item:hover {
    background-color: rgba(190, 59, 70, 0.3);
  }
  .projects__cat-item:not(:last-child) {
    margin: 0px 5% 0px 0px;
  }
  .projects__cat-item.active {
    background-color: #be3b46;
  }
  .projects__cat-arrow {
    display: none;
  }
  .projects__cat-button {
    background: transparent;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 34px;
    font-size: 18px;
    color: #fff;
    line-height: 48px;
  }
  .team {
    background: url("../images/team/1.svg") left center no-repeat, url("../images/team/2.svg") 86px 400px no-repeat, url("../images/team/3.svg") 39% 170px no-repeat, url("../images/team/4.svg") right center no-repeat;
  }
  .aboutPage-team {
    background: none;
  }
  .motion__bg {
    bottom: -120px;
  }
  .works__text {
    margin: 0px 0px 139px 0px;
  }
  .works__slider {
    position: relative;
    padding: 0;
  }
  .works__slider-contaier {
    padding: 0;
  }
  .works__slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works__slider-slide {
    padding: 0 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 30px 0px;
    max-width: none;
  }
  .works__slider-button-next, .works__slider-button-prev {
    display: none;
  }
  .works .swiper-pagination {
    display: none;
  }
  .slide__title {
    font-size: 26px;
  }
  .comments {
    background: url("../images/team/1.svg") -50px 100%/138px 221px no-repeat, url("../images/team/2.svg") 86px 400px no-repeat, url("../images/team/3.svg") 65% 170px no-repeat, url("../images/team/4.svg") center right no-repeat;
    padding: 72px 0 0 0;
  }
  .comments__title {
    margin: 0px 0px 77px 0px;
  }
  .comments__slider {
    position: relative;
    padding: 0;
  }
  .comments__slider-container {
    padding: 0;
    padding-bottom: 47px;
  }
  .comments__item {
    margin: 0;
    max-width: none;
    position: relative;
  }
  .comments__item-avatar {
    width: 65%;
    padding-bottom: 37%;
    border-radius: 10px 10px 0 10px;
  }
  .comments__item-about {
    position: absolute;
    right: 0;
    bottom: -47px;
    z-index: 2;
    width: 60%;
    background-color: #fff;
    color: #242424;
    padding: 23px 15px;
    text-align: left;
    border-radius: 0 10px 10px 0;
  }
  .comments__slider-button-prev {
    display: none;
  }
  .comments__slider-button-next {
    top: initial;
    right: 60%;
    bottom: -23px;
    width: 99px;
    height: 47px;
    background: -webkit-gradient(linear, left top, right top, from(#3388FD), to(#7CA9FB));
    background: linear-gradient(90deg, #3388FD 0%, #7CA9FB 100%);
    border-radius: 0px 0px 0px 10px;
    color: #fff;
    padding: 0 0 0 14px;
  }
  .comments__slider-button-next:hover:after {
    width: 100%;
    height: 100%;
    background: url("../images/aboutPage/comments/arrow-next.svg") 80% center no-repeat;
  }
  .comments__slider-button-next span {
    display: inline;
  }
  .comments__slider-button-next:after {
    width: 100%;
    height: 100%;
    background: url("../images/aboutPage/comments/arrow-next.svg") 70% center no-repeat;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .comments .swiper-pagination {
    display: none;
  }
  .about-item__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 21px 0px;
  }
  .about-item__name {
    font-size: 18px;
    color: inherit;
    line-height: 1.5;
    font-weight: 400;
  }
  .about-item__prof {
    font-size: 12px;
    color: rgba(36, 36, 36, 0.7);
    line-height: 1.2;
  }
  .about-item__comment {
    font-size: 15px;
    color: inherit;
    line-height: 1.2;
  }
}

@media (min-width: 850px) {
  .header:before {
    z-index: -1;
  }
  .header__list li {
    padding: 0 15px;
  }
  .header__nav {
    position: static;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    width: initial;
    height: initial;
    background: none;
    padding: 0;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    padding: 0;
    margin: 0;
  }
  .header__list li {
    padding: 0 15px;
    margin-bottom: 0 !important;
  }
  .header__social {
    display: none;
  }
  .header__link {
    display: block;
    padding-bottom: 7px;
    font-size: 18px;
    color: #fff;
    line-height: 25px;
    font-weight: 300;
    position: relative;
  }
  .header__link:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .header__link:hover:after {
    left: 0;
    width: 100%;
  }
  .header__burger {
    width: 0;
    height: 35px;
    position: relative;
    cursor: pointer;
  }
  .greeting__img {
    margin-bottom: 200px;
  }
  .greeting__arrow {
    display: block;
  }
  .projects__body {
    -ms-grid-rows: (288px)[3];
        grid-template-rows: repeat(3, 288px);
  }
  .projects__info {
    padding: 45px;
  }
}

@media (min-width: 900px) {
  .works__text {
    margin: 0px 0px 139px 0px;
  }
  .works__slider {
    position: relative;
    padding: 0;
  }
  .works__slider-contaier {
    padding: 0;
    overflow: visible;
  }
  .works__slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works__slider-slide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3334%;
            flex: 0 1 33.3334%;
  }
}

@media (min-width: 992px) {
  .greeting__img {
    margin-bottom: 255px;
  }
  .motion__slider-slide {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .motion__slider-slide.swiper-slide-active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .works__slider-contaier {
    margin: 0 -27.5px;
  }
  .works__slider-slide {
    padding: 0 27.5px;
    margin: 0px 0px 50px 0px;
  }
  .slide__title {
    font-size: 24px;
  }
  .slide__text {
    font-size: 16px;
  }
}

@media (max-width: 1140px) {
  .greeting__img {
    width: calc(170px + (224 - 191) * ((100vw - 320px) / (1140 - 320)));
  }
  .motion__slider-body {
    padding: 0 calc(30px + (70 - 30) * ((100vw - 320px) / (1140 - 320)));
  }
  .motion__text {
    font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1140 - 320)));
  }
  .red-text, .text, .blue-text {
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1140 - 320)));
  }
}
