@font-face {
	font-family: 'SofiaPro';
	src: url('../fonts/SofiaProLight.eot');
	src: local('☺'), url('../fonts/SofiaProLight.woff') format('woff'), url('../fonts/SofiaProLight.ttf') format('truetype'), url('../fonts/SofiaProLight.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaPro';
	src: url('../fonts/SofiaProRegular.eot');
	src: local('☺'), url('../fonts/SofiaProRegular.woff') format('woff'), url('../fonts/SofiaProRegular.ttf') format('truetype'), url('../fonts/SofiaProRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaPro';
	src: url('../fonts/SofiaProMedium.eot');
	src: local('☺'), url('../fonts/SofiaProMedium.woff') format('woff'), url('../fonts/SofiaProMedium.ttf') format('truetype'), url('../fonts/SofiaProMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaPro';
	src: url('../fonts/SofiaProBold.eot');
	src: local('☺'), url('../fonts/SofiaProBold.woff') format('woff'), url('../fonts/SofiaProBold.ttf') format('truetype'), url('../fonts/SofiaProBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaPro';
	src: url('../fonts/SofiaProBlack.eot');
	src: local('☺'), url('../fonts/SofiaProBlack.woff') format('woff'), url('../fonts/SofiaProBlack.ttf') format('truetype'), url('../fonts/SofiaProBlack.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}