.main {
}
.greeting {
	width: 100%;
	height: 100vh;
	position: relative;
	&__bg {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		mix-blend-mode: multiply;
	}
	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	&__img {
		margin: 0px 0px 20vh 0px;
		width: 18.4%;
		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0px 0px 13px 0px;
		}
	}
	&__button {
		@include text-style(18px,$white-col);
	}
	&__arrow {
		display: none;
		position: absolute;
		bottom: 14px;
		left: 50%;
		z-index: 3;
		transform: translateX(-50%);
		transition: all 0.3s ease-in-out;
		&:hover {
			transform: translate(-50%, -40%);
		}
	}
	&__text {
		max-width: 950px;
		padding: 0 15px;
		margin: 0 auto;
	}
	&__pop-pup {
	}
	&__text-top {
		display: block;
		padding-top: 153px;
	}
}
.motion {
	padding: 94px 0px 0px 0px;
	position: relative;
	&__bg {
		width: 100%;
		position: absolute;
		bottom: -50px;
		left: 0;
		z-index: -1;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__top {
		margin: 0px 0px 77px 0px;
	}
	&__title {
		background: linear-gradient(90deg, #3388FD 0%, #7CA9FB 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include text-style(28px,$white-col,40px);
		font-weight: 700;
	}
	&__subtitle {
		@include text-style(24px, rgba(255, 255, 255, 0.7),1.2)
	}
	&__slider-body {
		position: relative;
		margin: 0px 0px 57px 0px;
		padding: 0 70px;
	}
	&__slider {
		max-width: 970px;
	}
	&__slider-wrapper {
		height: 220px;
		padding-top: 20px;
	}
	&__slider-content {
		height: 167px;
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__slider-content-item {
		height: 163px;
		width: 99%;
		border-radius: 27px;
		position: relative;
		background-color: $black-col;
		&:before {
			content: "";
			border-radius: 27px;
			position: absolute;
			top: -2px;
			bottom: -2px;
			left: -2px;
			right: -2px;
			z-index: -1;
			background: linear-gradient(180deg, #7CA9FB 0%, #3388FD 100%);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__text {
		@include text-style(28px,$white-col,1.2);
		max-width: 827px;
		margin: 0 auto;
	}
	&__text-red {
		background: linear-gradient(90deg, #F43A65 0%, #FA6228 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #F43A65;
	}
}
.swiper-button-next, .swiper-button-prev {
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	z-index: 1;
}
.swiper-button-next {
	right: -10px;
}
.swiper-button-prev {
	left: -10px;
}
.swiper-button-next:after, .swiper-button-prev:after {
	font-size: 0;
	width: 15px;
	height: 38px;
}
.swiper-button-next:after {
	background: url('../images/greeting/Right.svg') no-repeat;
	background-size: cover;
}
.swiper-button-prev:after {
	background: url('../images/greeting/Left.svg') no-repeat;
	background-size: cover;
}
.swiper-pagination {
	position: absolute;
	bottom: -18px;
	left: 50%;
	z-index: 1;
	transform: translateX(-50%);
	& .swiper-pagination-bullet-active {
		width: 13px;
		height: 13px;
		background: rgba(255, 255, 255, 0.5);
	}
	& .swiper-pagination-bullet {
		width: 7px;
		height: 7px;
		background: $white-col;
		margin: 0 6.5px;
	}
}
.projects {
	padding-top: 49px;
	&__title {
		margin: 0px 0px 54px 0px;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		grid-template-rows: repeat(2,400px);
		grid-auto-rows: 400px;
		gap: 37px;
	}
	&__item {
		position: relative;
		z-index: 2;
		border-radius: 35px;
		&:before {
			content: "";
			position: absolute;
			top: -2px;
			left: -2px;
			bottom: -2px;
			right: -2px;
			z-index: -1;
			border-radius: 35px;
			background: linear-gradient(180deg, rgba(124, 169, 251, 0) 0%, #3388FD 100%);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 35px;
		}
		&:nth-child(3), &:nth-child(4), &:nth-child(5){
			display: none;
		}
	}
	&__cat {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0px 0px 48px 0px;
		position: relative;
		border: 2px solid #BE3B46;
		border-radius: 30px;
		height: 61px;
		overflow: hidden;
		transition: all 0.3s ease-in-out;
		&.active {
			height: 185px;
		}
		&-arrow {
			position: absolute;
			top: 20px;
			right: 25px;
			width: 29px;
			height: 20px;
			background-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 19px;
				height: 10px;
			}
		}
		li {
			border-bottom: 1px solid rgba(190,59,70,1);
		}
		&-button {
			background: transparent;
			display: block;
			width: 100%;
			margin: 0 auto;
			@include text-style(18px,$white-col,60px);
		}
	}
	&-page {
		.projects__item {
			display: block;
		}
	}
	&__info {
		border-radius: 35px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 2;
		background: rgba(0, 0, 0, 0.6);
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		@include text-style(24px, $white-col,1);
	}
	&__button {
		margin: 21px auto 0px auto;
		text-align: center;
	}
}
.team {
	background: url('../images/team/1.svg') -50px 100% / 138px 221px  no-repeat, url('../images/team/2.svg') 86px 400px no-repeat, url('../images/team/3.svg') 10% 170px no-repeat, url('../images/team/4.svg') center right no-repeat;
	padding-top: 96px;
	&__title {
		margin: 0px 0px 43px 0px;
	}
	&__slider {
		position: relative;
	}
	&__slider-container {
		max-width: 920px;
		padding: 0 30px;
	}
	&__slider-wrapper {
		padding: 50px 0;
	}
	&__slider-slide {
	}
	&__slider-content {
	}
}
.aboutPage-team {
	background: none;
}
.teamate {
	min-height: 265px;
	padding: 54px 30px;
	text-align: center;
	border-radius: 35px;
	&__photo {
		width: 146px;
		height: 147px;
		border: 2px solid #fff;
		margin: -100px auto 21px auto;
		border-radius: 50%;
		overflow: hidden;
		background-color: grey;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name {
		@include text-style(36px,$white-col,1);
		margin: 0px 0px 10px 0px;
		font-weight: 500;
	}
	&__prof {
		@include text-style(18px,$white-col,1);
	}
}
.brown-yellow {
	background: $teamCart-brown-yellow;
}
.red-orange {
	background: $teamCart-red-orange;
}
.blue-violet {
	background: $teamCart-blue-violet;
}
.darkBlue-lighterBlue {
	background: $teamCart-darkBlue-lighterBlue;
}
.blue-lightBlue {
	background: $teamCart-blue-lightBlue;
}
.lightBlue-lighterBlue {
	background: $teamCart-lightBlue-lighterBlue;
}
.blue-lightGreen {
	background: $teamCart-blue-lightGreen;
}
.clients {
	position: relative;
	z-index: 2;
	padding-top: 94px;
	&__title {
		margin: 0px 0px 47px 0px;
	}
	&__slider {
		position: relative;
		max-width: 966px;
		margin: 0 auto;
	}
	&__slider-container {
		max-width: 890px;
		padding: 0 30px;
	}
	&__slider-wrapper {
		display: flex;
		align-items: center;
	}
	&__slider-slide {
	}
	&__client {
	}
}
.works {
	&__text {
		margin: 0px 0px 139px 0px;
	}
	&__slider {
		position: relative;
		padding:  0 30px;
	}
	&__slider-contaier {
		padding: 0px 0px 30px 0px;
	}
	&__slider-wrapper {
	}
	&__slider-slide {
		padding: 5px 0;
	}
	&__slider-button-next {
	}
	&__slider-button-prev {
	}
	.swiper-pagination {
		display: block;
	}
}
.slide {
	&__item {
		padding: 25px 12px;
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		max-width: 393px;
		margin: 0 auto;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			background: rgba(0,0,0,0.7);
		}
	}
	&__content {
		position: relative;
		z-index: 2;
	}
	&__title {
		@include text-style(26px,$white-col,1.2);
		margin: 0px 0px 22px 0px;
	}
	&__text {
		@include text-style(18px,$white-col,1.2);
	}
}
.comments {
	padding: 54px 0 0 0;
	&__title {
		margin: 0px 0px 53px 0px;
	}
	&__slider {
		position: relative;
		padding:  0 30px;
	}
	&__slider-container {
		padding: 0px 0px 30px 0px;
	}
	&__slider-wrapper {
	}
	&__slider-slide {
	}
	&__item {
		margin: 0 auto;
		max-width: 392px;
	}
	&__item-avatar {
		position: relative;
		height: 0;
		padding-bottom: 60%;
		border-radius: 10px 10px 0 0;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__item-about {
		background-color: #fff;
		color:#242424;
		padding: 23px 15px;
		text-align: left;
		border-radius: 0 0 10px 10px;
	}
	&__slider-button-next {
		span {
			display: none;
		}
	}
	&__slider-button-prev {
	}
}
.about-item {
	&__top {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 21px 0px;
	}
	&__left {
	}
	&__name {
		@include text-style(18px,inherit,1.5);
		font-weight: 400;
	}
	&__prof {
		@include text-style(12px,rgba(36,36,36,0.7),1.2);
	}
	&__right {
	}
	&__bottom {
	}
	&__comment {
		@include text-style(15px,inherit,1.2);
	}
}