@media(min-width: 480px) {
	.header {
		&__nav {
			padding: 80px 40px 22px 40px;
			background: url("../images/header/bg-mob.jpg") center no-repeat;
			background-size: cover;
		}
		&__list {
			padding: 41px 51px;
		}
	}
	.teamate {
		&__photo {
			width: 176px;
			height: 177px;
		}
	}
	.slide {
		&__item {
			padding: 55px 22px;
		}
		&__title {
			font-size: 36px;
		}
	}
	.comments {
		&__item-about {
			padding: 23px 29px;
		}
	}
}
@media(min-width: 768px) {
	.projects {
		padding-top: 70px;
		&__title {
			margin: 0px 0px 70px 0px;
		}
		&__body {
			grid-template-columns: repeat(5,1fr);
			grid-template-rows: repeat(3,190px);
			gap: 45px;
		}
		&__item {
			&:before {
				content: "";
				opacity: 0;
				visibility: hidden;
				transition: all 0.2s ease-in-out;
			}
			&:nth-child(1){
				grid-column: 1 / 4;
			}
			&:nth-child(2){
				grid-column: 4 / 6;
			}
			&:nth-child(3), &:nth-child(4), &:nth-child(5) {
				display: block;
			}
			&:nth-child(3){
				grid-column: 1 / 6;
				grid-row: 2 / 3;
			}
			&:nth-child(4){
				grid-column: 1 / 3;
				grid-row: 3 / 4;
			}
			&:nth-child(5){
				grid-column: 3 / 6;
				grid-row: 3 / 4;
			}
			&:hover {
				&:before, .projects__info {
					opacity: 1;
					visibility: visible;
				}
			}
			&.disabled {
				pointer-events: none;
				&:hover {
					&:before, .projects__info {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
		}
		&__info {
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s ease-in-out;
		}
		&__button {
			margin: 40px 0px 0px 0px;
			text-align: right;
		}
		&__cat {
			flex-direction: row;
			justify-content: space-between;
			border: none;
			border-radius: 0;
			height: auto;
			overflow: auto;
			&-item {
				flex: 0 1 255px;
				max-width: 255px;
				border-radius: 24px;
				border: 1px solid rgba(190,59,70,1);
				transition: background-color 0.2s ease-in-out;
				&:hover {
					background-color: rgba(190,59,70,0.3);
				}
				&:not(:last-child) {
					margin: 0px 5% 0px 0px;
				}
				&.active {
					background-color: rgba(190,59,70,1);
				}
			}
			&-arrow {
				display: none;
			}
			&-button {
				background: transparent;
				display: block;
				width: 100%;
				height: 100%;
				padding: 0 34px;
				@include text-style(18px,$white-col,48px);
			}
		}
	}
	.team {
		background: url('../images/team/1.svg') left center no-repeat, url('../images/team/2.svg') 86px 400px no-repeat, url('../images/team/3.svg') 39% 170px no-repeat, url('../images/team/4.svg') right center no-repeat;
	}
	.aboutPage-team {
		background: none;
	}
	.motion {
		&__bg {
			bottom: -120px;
		}
	}
	.works {
		&__text {
			margin: 0px 0px 139px 0px;
		}
		&__slider {
			position: relative;
			padding: 0;
		}
		&__slider-contaier {
			padding: 0;
		}
		&__slider-wrapper {
			display: flex;
			flex-wrap: wrap;
		}
		&__slider-slide {
			padding: 0 15px;
			flex: 0 1 50%;
			margin: 0px 0px 30px 0px;
			max-width: none;
		}
		&__slider-button-next, &__slider-button-prev {
			display: none;
		}
		.swiper-pagination {
			display: none;
		}
	}
	.slide {
		&__title {
			font-size: 26px;
		}
	}
	.comments {
		background: url('../images/team/1.svg') -50px 100% / 138px 221px  no-repeat, url('../images/team/2.svg') 86px 400px no-repeat, url('../images/team/3.svg') 65% 170px no-repeat, url('../images/team/4.svg') center right no-repeat;
		padding: 72px 0 0 0;
		&__title {
			margin: 0px 0px 77px 0px;
		}
		&__slider {
			position: relative;
			padding:  0;
		}
		&__slider-container {
			padding: 0;
			padding-bottom: 47px;
		}
		&__slider-wrapper {
		}
		&__slider-slide {
		}
		&__item {
			margin: 0;
			max-width: none;
			position: relative;
		}
		&__item-avatar {
			width: 65%;
			padding-bottom: 37%;
			border-radius: 10px 10px 0 10px;
		}
		&__item-about {
			position: absolute;
			right: 0;
			bottom: -47px;
			z-index: 2;
			width: 60%;
			background-color: #fff;
			color:#242424;
			padding: 23px 15px;
			text-align: left;
			border-radius: 0 10px 10px 0;
		}
		&__slider-button-prev {
			display: none;
		}
		&__slider-button-next {
			top: initial;
			right: 60%;
			bottom: -23px;
			z-index: 2;
			width: 99px;
			height: 47px;
			background: linear-gradient(90deg, #3388FD 0%, #7CA9FB 100%);
			border-radius: 0px 0px 0px 10px;
			color: $white-col;
			padding: 0 0 0 14px;
			&:hover {
				&:after {
					width: 100%;
					height: 100%;
					background: url("../images/aboutPage/comments/arrow-next.svg") 80% center no-repeat;
				}
			}
			span {
				display: inline;
			}
			&:after {
				width: 100%;
				height: 100%;
				background: url("../images/aboutPage/comments/arrow-next.svg") 70% center no-repeat;
				transition: all 0.2s ease-in-out;
			}
		}
		.swiper-pagination {
			display: none;
		}
	}
	.about-item {
		&__top {
			display: flex;
			justify-content: space-between;
			margin: 0px 0px 21px 0px;
		}
		&__left {
		}
		&__name {
			@include text-style(18px,inherit,1.5);
			font-weight: 400;
		}
		&__prof {
			@include text-style(12px,rgba(36,36,36,0.7),1.2);
		}
		&__right {
		}
		&__bottom {
		}
		&__comment {
			@include text-style(15px,inherit,1.2);
		}
	}
}
@media(min-width: 850px) {
	.header {
		&:before {
			z-index: -1;
		}
		&__list {
			li {
				padding: 0 15px;
			}
		}
		&__nav {
			position: static;
			flex: 0 0 60%;
			width: initial;
			height: initial;
			background: none;
			padding: 0;
		}
		&__list {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			border: none;
			padding: 0;
			margin: 0;
			li {
				padding: 0 15px;
				margin-bottom: 0 !important;
			}
		}
		&__social {
			display: none;
		}
		&__link {
			display: block;
			padding-bottom: 7px;
			@include text-style(18px,$white-col,25px);
			font-weight: 300;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0;
				height: 1px;
				width: 0;
				transition: all 0.3s ease-in-out;
				background: $white-col;
			}
			&:hover:after {
				left: 0;
				width: 100%;
			}
		}
		&__burger {
			width: 0;
			height: 35px;
			position: relative;
			cursor: pointer;
		}
	}
	.greeting {
		&__img {
			margin-bottom: 200px;
		}
		&__arrow {
			display: block;
		}
	}
	.projects {
		&__body {
			grid-template-rows: repeat(3,288px);
		}
		&__info {
			padding: 45px;
		}
	}
}
@media(min-width: 900px) {
	.works {
		&__text {
			margin: 0px 0px 139px 0px;
		}
		&__slider {
			position: relative;
			padding: 0;
		}
		&__slider-contaier {
			padding: 0;
			overflow: visible;
		}
		&__slider-wrapper {
			display: flex;
			flex-wrap: wrap;
		}
		&__slider-slide {
			flex: 0 1 33.3334%;
		}
	}
}
@media(min-width: 992px) {
	.greeting {
		&__img {
			margin-bottom: 255px;
		}
	}
	.motion {
		&__slider-slide {
			transition: all 0.2s ease-in-out;
			&.swiper-slide-active {
				transform: scale(1.1);
			}
		}
	}
	.works {
		&__slider-contaier {
			margin: 0 -27.5px;
		}
		&__slider-slide {
			padding: 0 27.5px;
			margin: 0px 0px 50px 0px;
		}
	}
	.slide {
		&__title {
			font-size: 24px;
		}
		&__text {
			font-size: 16px;
		}
	}
}
@media(max-width: 1140px) {
	.greeting {
		&__img {
			width: calc(170px + (224 - 191) * ((100vw - 320px) / (1140 - 320)));
		}
	}
	.motion {
		&__slider-body {
			padding: 0 calc(30px + (70 - 30) * ((100vw - 320px) / (1140 - 320)));
		}
		&__text {
			font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1140 - 320)));
		}
	}
	.red-text, .text, .blue-text {
		font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1140 - 320)));
	}
}