@media(min-width: 480px) {
	.header {
		&__nav {
			padding: 80px 40px 22px 40px;
			background: url("../images/header/bg-mob.jpg") center no-repeat;
			background-size: cover;
		}
		&__list {
			padding: 41px 51px;
		}
	}
}
@media(min-width: 850px) {
	.header {
		&:before {
			display: none;
		}
		&__list {
			li {
				padding: 0 15px;
			}
		}
		&__nav {
			position: static;
			flex: 0 0 60%;
			width: initial;
			height: initial;
			background: none;
			padding: 0;
		}
		&__list {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			border: none;
			padding: 0;
			margin: 0;
			li {
				padding: 0 15px;
				margin-bottom: 0 !important;
			}
		}
		&__social {
			display: none;
		}
		&__link {
			display: block;
			padding-bottom: 7px;
			@include text-style(18px,$white-col,25px);
			font-weight: 300;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0;
				height: 1px;
				width: 0;
				transition: all 0.3s ease-in-out;
				background: $white-col;
			}
			&:hover:after {
				left: 0;
				width: 100%;
			}
		}
		&__burger {
			width: 0;
			height: 35px;
			position: relative;
			cursor: pointer;
		}
	}
}