@import "_nullstyle";
@import "_fonts";

$teamCart-brown-yellow: linear-gradient(180deg, #A05322 0%, #EAC54B 100%);
$teamCart-red-orange: linear-gradient(180deg, #FE3777 0%, #FD6021 100%);
$teamCart-blue-violet: linear-gradient(180deg, #091E8E 0%, #A769B9 100%);
$teamCart-darkBlue-lighterBlue:linear-gradient(180deg, #2B2183 0%, #2C6CF6 100%);
$teamCart-blue-lightBlue: linear-gradient(180deg, #0A25AB 0%, #53BBF1 100%);
$teamCart-lightBlue-lighterBlue: linear-gradient(180deg, #3784FF 0%, #7BA8FE 100%);
$teamCart-blue-lightGreen: linear-gradient(180deg, #163CD8 0%, #64CF98 100%);

$black-col: #000;
$white-col: #fff;
$red-col: linear-gradient(90deg, #F43A65 0%, #FA6228 100%);

$footer-bg: linear-gradient(180deg, #03024E 0%, rgba(0, 0, 0, 0) 100%);

@mixin text-style($fz,$col,$lh: 1) {
	font-size: $fz;
	color: $col;
	line-height: $lh;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: "SofiaPro";
	font-weight: 300;
	color: $white-col;
	text-align: center;
	height: max-content;
	background: linear-gradient(rgba(3,2,78,1) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 70%, rgba(3,2,78,1) 100%), $black-col;
	&.lock {
		overflow: hidden;
	}
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}
.ibg > img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
.btn {
	display: block;
	font-weight: 300;
	padding: 0.4em 2.44em;
	border-radius: 17px;
	cursor: pointer;
	border: none;
	position: relative;
	background: transparent;
	overflow: hidden;
	span {
		display: block;
		position: relative;
		z-index: 2;
		line-height: inherit;
	}
}
.btn:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 280%;
	transition: all 0.5s ease-in-out;
}
.btn-1:after {
	background: linear-gradient(180deg, #0D0840 0%, #163CD8 40%, #3D3A67 60%, #4563E0 100%);
}
.btn:hover:after {
	top: -180%;
}
.btn-2:after {
	background: linear-gradient(180deg, #0D0840 0%, #163CD8 40%, #90D9B9 60%, #5D79E3 100%);
}
.btn-link {
	display: inline-block;
	font-weight: 300;
	font-size: 20px;
	line-height: 20px;
	padding: 0.6em 2.05em;
	color: #fff;
	text-decoration: none;
	position: relative;
	border-radius: 22px;
	overflow: hidden;
	border: 2px solid transparent;
	vertical-align: middle;
	span {
		position: relative;
		z-index: 3;
		display: block;
		line-height: inherit;
	}
	&:before {
		content: "";
		display: block;
		background: #000;
		position: absolute;
		top: 2px;
		bottom: 2px;
		left: 2px;
		right: 2px;
		z-index: 2;
		border-radius: 22px;
	}
	&:after {
		content: "";
		display: block;
		width: 61%;
		height: 2px;
		background: #762428;
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);
		transition: height 0.4s ease, width 0.4s ease 0.15s;
	}
	&:hover:after {
		height: 100%;
		width: 100%;
		transition: height 0.4s ease 0.15s, width 0.4s ease;
	}
}
.title2 {
	@include text-style(42px,rgba(51,136,253,1),1);
	background: linear-gradient(90deg, #3388FD 0%, #7CA9FB 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.text {
	@include text-style(36px,$white-col,1);
	font-weight: 400;
}
.red-text {
	background: linear-gradient(90deg, #FF3D6A 0%, #FA6128 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@include text-style(36px,rgb(255,61,106),1);
	font-weight: 400;
}
.eclipse {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.projectsPage__container {
	max-width: 950px;
	padding: 0 15px;
	margin: 0 auto;
}

.pop-pup {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.9);
	padding: 10px 30px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	&__button {
		text-align: right;
		padding: 10px 20px 0px 0px;
	}
	&-close {
		background-color: transparent;
		width: 20px;
		height: 20px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&.show {
		opacity: 1;
		visibility: visible;
	}
}
.video {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	video {
		width: auto;
		max-width: 100%;
		max-height: 80%;
	}
}


@import "_header";
@import "_main";
@import "_footer";
@import "_media";

